
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background:url(../images/spring.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}


.indexbody {
	background: url(../images/carousel5.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*height: 100vh;*/
}

/*.indexbody2 {
	background: url(../images/bg6.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*height: 100vh;*/
}
*/
.indexbody3 {
	background: url(../images/bg18.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*height: 100vh;*/
}

.indexbody4 {
	background: url(../images/bg19.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*height: 100vh;*/
}
.containerbg {
	width: 100%;
	height: 100%;
	background: url(../images/bg8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.cover {
	/*padding-top: 8rem;*/
	padding-right: 10rem;
	/*padding-bottom: 4rem;*/
	padding-left: 10rem;
}

#felIcon {
	height: 4em;
}

.nav-tabs {
	margin-bottom: 1.25em;
}

/*social links*/

i {
	color: white;
	/*margin-top: 1.5em;*/
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0;
	/*outline: 3px solid white;*/
	
}

.blockquote-footer {
	color: white;
}

.fb:hover{
	background-color: blue;
}

.ig:hover {
	background-color: violet;
}

.tw:hover {
	background-color: lightblue;
}

.yt:hover {
	background-color: red;
}


}
/*-----> end social links*/


/*additional*/

span {
	border: 1px solid white;
}

a {
	color: white;
}

#know
{
	font-family: 'Pinyon Script', cursive;
	color: #44883c;
	font-size: 11em;
	text-shadow:
    -2px -1px 0 #000000,
    1px -2px 0 #000000,
    -2px 1px 0 #000000,
    1px 1px 0 #000000; 
}

.content1 {
	color: 	#ffffff;
	font-size: 2em;
	/*text-shadow:
    -2px -1px 0 #f5f6f7,
    1px -2px 0 #f5f6f7,
    -2px 1px 0 #f5f6f7,
    1px 1px 0 #f5f6f7; */

    text-shadow:
    -2px -1px 0 #000000,
    1px -2px 0 #000000,
    -2px 1px 0 #000000,
    1px 1px 0 #000000; 
}

.content2 {
	/*font-family: 'Pinyon Script', cursive;*/
	font-family: 'Niconne', cursive;
	color: #2a333c;
	font-size: 1.5em;
	/*margin-top: 0.5em;*/
}



.inner2 {
	margin-top: 0;
}

#know {
	color: white;
}

.footer {
	width: 100%;
}


/*end of additional*/

/*signs*/
.stroke1
{
	font-family: 'Pinyon Script', cursive;
	color: #2a333c;
	font-size: 3em;
	margin-top: 0.5em;
}

.stroke2
{
	font-family: 'Niconne', cursive;
	color: 	green;
	font-size: 2.5em;
	/*text-shadow:
    -2px -1px 0 #000000,
    1px -2px 0 #000000,
    -2px 1px 0 #000000,
    1px 1px 0 #000000; */
}



.imagesign {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
/*  left: 50%;*/
  
  text-align: center;
}

.card:hover .imagesign {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.textsign1 {
  background-color: #29427b;
  color: white;
  font-size: 16px;
 /* padding: 16px 32px;*/

}

.cardtips {
	background-color: #2a333c;
}

.topbtn {
	color:black;
}

#cardCol {
	margin-bottom: 5em;
}

.cardHeight {
	height: 20em;
}

.cardServ {
	height: 18em;
}

.conLabel {
	font-family: 'Niconne', cursive;
	color: 	green;
	font-size: 2em;
}

#footerbot {
	position: absolute;
	bottom: 0;
	width: 90%;
}


/* tab color */
.nav-tabs>a {
  background-color: #44883c; 
  border-color: #777777;
  color:#fff;
}

/* active tab color */
.nav-tabs>.active>a, .nav-tabs>a.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #666;
  border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}


/*carousel*/
.carouselimg {
	height: 45em;

}


/*media queries*/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
	.indexbody {
		background: url(../images/carousel5.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 25em;
	}	
	body {
		padding: 0;
		margin: 0;
		background:url(../images/spring.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	/*index page*/
	a {
		font-size: .60em;
		text-align: center;
		margin: auto;
	}

	.cover {
		padding: 0;
		height: 100%;
	}

	#coverland {
		min-height: 100%;
	}

	#forever {
		font-size: 1.2em;
		padding-top: 1em;
	}

	#know {
		font-size: 5.5em;
	}

	#foreverBtn {
		font-size: .75em;
		margin-bottom: 2em;
	}

	.space {
		margin-top: 2em;
	}

	#copyright, #myName {
		font-size: .70em;
	}

	/*end index*/

	/*about*/
	.cardHeight {
		height: 15em;
	}

	.carouselH {
		height: 8em;
	}

	/*end about*/

	/*services*/
	.cardServ {
		height: 13em;
	}

	/*contact*/
	.content2 {
		font-size: 1.25em;
	}

	.conLabel {
		font-size: 1.5em;
	}

	.contactLabel {
		font-size: .80em;
		width: 100%;
		height: 2.5em;
	}

	#contactSpace {
		margin-bottom: 3em;
	}
 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
	
 }

/*// Medium devices (tablets, 768px and up)*/ /*ipad*/
@media (min-width: 768px) and (max-width: 991px) { 

	/*index page*/
	.indexbody {
	background: url(../images/carousel5.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 25em;
	}

	body {
		margin: 0;
		padding: 0;
		background:url(../images/spring.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		}

	a {
		font-size: 1.5em;
		text-align: center;
		margin: auto;
	}

	.space {
		margin-top: 4em;
	}

	#copyright, #myName {
		font-size: 1.5em;
	}

	#forever {
		font-size: 2em;
		padding-top: 1em;
	}

	#foreverBtn {
		font-size: 1em;
		margin-bottom: 2em;
	}

	/*end index*/
 	
 	/*about*/
	.cardHeight {
		height: 14em;
	}

	.carouselH {
		height: 11em;
	}

	#cardCol {
		margin-bottom: 5em;
		padding-bottom: 0;
	}

	.textsign1 {
		overflow: scroll;
		height: 6em;
	}
	/*end about*/

	/*services*/
	.cardServ {
		height: 12em;
	}

	.cardtips {
		height: 16em;
		width: 10em;
		margin-top: 3.5em;
	}

	.stroke2 {
		font-size: 3em;
	}

	.content2 {
		font-size: 2em;
	}


	/*contact*/
	.content2 {
		font-size: 2em;
	}

	.conLabel {
		font-size: 1.55em;
		padding-top: 2em;
	}

	.contactLabel {
		font-size: .90em;
	
	}

	#contactSpace {
		margin-bottom: 20em;
	}

	#contactBtn {
		margin-bottom: 2em;
	}

 }

/*// Large devices (desktops, 992px and up)*/ /*ipad pro*/
@media (min-width: 992px) and (max-width: 1199px) { 
	
	/*index page*/

	.indexbody {
	background: url(../images/carousel5.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

	body {
	background:url(../images/spring.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	}

	a {
		font-size: 2em;
		text-align: center;
		margin: auto;
	}

	.space {
		margin-top: 7em;
	}

	#copyright, #myName {
		font-size: 1.5em;
	}

	#forever {
		font-size: 3em;
		padding-top: 1em;
	}

	#foreverBtn {
		font-size: 2em;
		margin-bottom: 2em;
	}
	/*end index*/
 	
 	.carouselH {
		height: 15em;
	}

	#cardCol {
		margin-bottom: 5em;
		padding-bottom: 0;
	}

	/*services*/
	.cardServ {
		height: 18em;
	}

	.cardtips {
		height: 22em;
		width: 10em;
		margin-top: 5em;
	}

	.stroke2 {
		font-size: 4em;
	}

	.content2 {
		font-size: 2.5em;
	}

	nav {
		margin-top: 2em;
		margin-bottom: 2em;
	}
 
	/*contact*/
	.content2 {
		font-size: 2em;
	}

	.conLabel {
		font-size: 2em;
		padding-top: 2em;
	}

	.contactLabel {
		font-size: 1.25em;
	
	}

	#contactSpace {
		margin-top: 4em;
		margin-bottom: 25em;
	}

	#contactBtn {
		margin-bottom: 4em;
	}

 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.navbtn {
		font-size: 2em;
	} }

